* {
    padding: 0;
    margin: 0;
}

.Message {
    margin: 24px;
    padding: 16px;
    background-color: rgb(223, 222, 222);
    color: red;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 2px solid red;
    border-radius: 8px;

    &__text {
        color: black;
        border: 1px solid black;
        border-radius: 5px;
        background-color: beige;
        padding: 8px;
    }
}
